html,
body {
  height: 100%;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  display: block;
}

body {
  font: 18px/24px "Poppins", Helvetica, Arial;
}

a:link,
a:visited {
  color: #222;
}

a:hover,
a:active {
  color: #666;
}

img,
p {
  margin-bottom: 30px;
}

.site {
  height: 100%;
}

.content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 320px;
  text-align: center;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
